[alias]
        amend = git commit --amend
        branches = branch --all
        forget = rm --cached
        graph = log --graph --pretty=format:'%C(bold red)[%C(auto)%h%C(bold red)]%C(reset) \"%s\"%C(auto)%d%C(reset)\n  %C(yellow)└%C(reset) %C(green)(%cr)%C(reset) by %C(bold blue)<%an>%C(reset)\n' --abbrev-commit --date-order

[credential]
        helper = store

[core]
        autocrlf = input
        filemode = false

[push]
        default = simple

[winUpdater]
        recentlySeenVersion = 2.17.1.windows.2
